{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "strict": 0,
    "no-console": "off",
    "quotes": [
      "off",
      "single"
    ],
    "prettier/prettier": "off",
    "react/prop-types": "off",
    "no-unused-vars": 0,
    "jsx-a11y/alt-text": "off",
    "react/no-children-prop": "off",
    "jsx-a11y/accessible-emoji": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off"
    //"jsx-a11y/no-onchange": "off",
    //"react/display-name": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["prettier", "jsx-a11y"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}